# Terraform-related files
**/.terraform/*
.terraform.lock.hcl

# Terraform state and backup files
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Terraform crash logs
crash.log
crash.*.log

# Terraform variable files (may contain secrets)
*.tfvars
*.tfvars.json

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# JSON configuration files for different environments
csye7125-dns.json
csye7125-prd.json
csye7125-dev.json

# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws
out/
.idea/modules.xml
.idea/*.iml
.idea/workspace.xml
.idea/shelf/
.idea/gradle.xml
.idea/libraries/

# VS Code settings
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace
history/

# Logs and system files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude binary files and build artifacts
*.class
*.jar
*.war
*.ear
*.exe
*.dll
*.so
*.dylib
*.pdb
*.zip
*.tar.gz
*.tgz

# MacOS system files
.DS_Store
.AppleDouble
.LSOverride

# Windows system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
